@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Determination Mono";
    src: url("../public/fonts/determination.eot");
    src: url("../public/fonts/determination.eot?#iefix") format("embedded-opentype"),
         url("../public/fonts/determination.woff2") format("woff2"),
         url("../public/fonts/determination.woff") format("woff"),
         url("../public/fonts/determination.ttf") format("truetype"),
         url("../public/fonts/determination.svg#Undertale") format("svg");
}

body {
    background-color: black;
    color: white;
    font-family: "Determination Mono";
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    @apply text-blue-400 underline;
}

p {
    @apply mb-4;
}
